/*
* @Author: Dell
* @Date:   2021-04-29 21:07:39
* @Last Modified by:   Dell
* @Last Modified time: 2021-04-29 21:08:06
*/
body {
    background-image: linear-gradient(to top, #706695, #f2bae8, #AEBAF8);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

button {
    width: 120px; /*璁剧疆鎸夐挳瀹藉害*/
    height: 30px; /*璁剧疆鎸夐挳楂樺害*/
    background-color: #FFFFFF; /*鎸夐挳鑳屾櫙棰滆壊*/
    border-radius: 6px; /*璁╂寜閽彉寰楀渾婊戜竴鐐�*/
    text-align: center; /*瀛椾綋灞呬腑*/
    border-width: 0; /*娑堝幓鎸夐挳涓戠殑杈规*/
    position: relative;
    margin-top: 30px;
    color: #706695
}

input {
    width: 120px; /*璁剧疆鎸夐挳瀹藉害*/
    height: 30px; /*璁剧疆鎸夐挳楂樺害*/
    background-color: #FFFFFF; /*鎸夐挳鑳屾櫙棰滆壊*/
    border-radius: 6px; /*璁╂寜閽彉寰楀渾婊戜竴鐐�*/
    text-align: center; /*瀛椾綋灞呬腑*/
    border-width: 0; /*娑堝幓鎸夐挳涓戠殑杈规*/
    position: relative;
    margin-top: 10px;
    color: #706695
}

.money {
    display: none;
}